@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mt Cook<br />
    Wellington<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:scott.henwood@outlook.com">scott.henwood@outlook.com</a><br />
    <strong>GitHub:</strong>  <a href="https://github.com/ScottHenwood" target="_blank">github.com/ScottHenwood</a>
</address>