
@{
    ViewBag.Title = "Past Work";
}

<h2>Past Work</h2>

<div class="row">
    <div class="col-md-6">
        <h2>Kotahitanga Wellbeing</h2>
        <p>
            This is the first site I worked on directly with a client. It is built in Wordpress, using a theme from Tesseract.
        </p>
        <p><a class="btn btn-default" target="_blank" href="http://kotahitanga.org.nz">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Statistical driven reporting</h2>
        <p>
            Currently a work in progress,
            I am working with a client to create a site which has user friendly statistical reports.
            The site is written in C#, MVC, HTML and JavaScript.
            It makes use of Entity Framework for data mapping, Google Charts for data visuisation, and BootStrap for UI layouts. 
        </p>
        <p><a class="btn btn-default" @*target="_blank"*@ href="#">Learn more &raquo;</a></p>
    </div>
    
</div>