@{
    ViewBag.Title = "Space Invaders";
}
@Styles.Render("~/Content/GameFramwork.css")
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>User 'a' to navigate left, 'd' to navigate right, and ' ' (space) to fire!</p>
<div id="container" class="container" data-game-container tabindex="1">

</div>
@section scripts { 
    @Scripts.Render("~/type-scripts/game.js");
}
